body {
  color: #193156;
  background-color: #F7F7F2;
  font-family: "Cabin", Helvetica, sans-serif;
  font-size: 16px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: #193156;
  margin-top: 0;
}

a {
  color: #FF6B6B;
}
a:hover {
  text-decoration: none;
}

/*--------
--Header--
--------*/

.header {
  background-color: #078891;
  color: #F7F7F2;
  display: inline-block;
  position: fixed;
  width: 100%;
  padding-top: 0.9%;
  padding-bottom: 0.9%;
  transition: all 0.5s;
  z-index: 100;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 82%;
  max-width: 1280px;
}

.header_logo {
  float: left;
  display: block;
  width: 130px;

}

.header_logo img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}


.header_menu {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #F7F7F2;
  float: right;
  margin: 0px;
  padding: 0px;
  font-size: 1.27em;
}

.header_menu_item {
  display: inline-block;
  padding: 6px;
  margin-left: 30px;
}

.header_menu_item p {
  font-size: 1.27em;
}

a {
  color: #F7F7F2;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #F7F7F2;
}

.header_menu_item::after {
    content: '';
    display: block;
    width: 0;
    height: 2.7px;
    background: #F7F7F2;
    transition: width .5s;
}

.header_menu_item:hover::after {
    width: 100%;
    //transition: width .3s;
}

.header.active {
     box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/*--------------
--Box Immagine--
--------------*/

.contenitore {
  height: 100vh;
}

.box{
  width: 450px;
  text-align: center;
  margin: auto;
  color: white;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.box-img{
  border-radius: 50%;
  max-width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.box-img:hover {
  transform: scale(1.03);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.testo {
  margin-top: 5%;
}

.box h3{
  font-size: 40px;
  font-weight: 100;
  color: #193156;
  font-family: 'Raleway',sans-serif;
  font-weight: 600;
}



/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -9%;
}


.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}


.timeline-marker:before {
  background: #078891;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}


.timeline-marker:after {
  content: "";
  width: 3px;
  background: #03587a;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}


.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #078891;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #03587a;
  border-bottom: 3px solid #03587a;
}

.period .no:before{
    border-top: 0px solid #03587a;
}

.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}


.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info,
  .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 55px 0 70px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }

}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}

/*--------
--Banner--
--------*/

.banner {
  height: 35.5%;
  width: 100%;
  margin: 0;
  margin-top: 3%;
}

.banner_copy {
  margin: 0;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  display: block;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

.banner_copy h3 {
  text-align: center;
  font-size: 3vw;
  margin: 0;
  color: #193156;
}

/*--------
--Cards--
--------*/
.cards {
  max-width: 1200px;
  margin: -40px auto 150px;
}

.card {
  width: 30%;
  margin: 0px 1.5% 1%;
  float: left;
}

.card_image {
  width: 100%;
  height: auto;
  transform: scale(0.6);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.card_image:hover {
  transform: scale(0.65);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.card_copy {
  padding: 0px 20px;
  margin-top: -10%;
}

.card_copy h3 {
  margin-bottom: 0;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 2vw;
}

/*--------
--Footer--
--------*/
.footer {
position: sticky;
background-color: #193156;
padding: 68px 0;
}

.footer_container {
margin-right: auto;
margin-left: auto;
width: 90%;
max-width: 1280px;
position: relative;
}

.footer_element {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.footer_element_content {
display: table;
float: left;
}

.footer_element_content h3 {
  font-size: 1.5vw;
  line-height: 4.4375rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #F7F7F2;
}

.footer_element_content p {
  font-size: 2.1vh;
  line-height: 1.9rem;
  font-family: 'Cabin', sans-serif;
  color: #F7F7F2;
}

.footer_element_social {
  float: right;
  margin-top: 5.5%;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-inline-box;
}

.social img {
  display: block;
  width: 30px;
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.social img:hover {
  transform: scale(1.3);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.social_icon {
  padding-right: 20px;
}


/*----------
--Clearfix--
----------*/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
